:root {
  --Violet: hsl(257, 40%, 49%);
  --Soft-Magenta: hsl(300, 69%, 71%);
  --Soft-white: #ffffff;
  --icon-fill: #fff;
  --heading-font: "Poppins", sans-serif;
  --main-font: "Open Sans", sans-serif;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  background-color: var(--Violet);
  font-family: var(--main-font), "Sans Serif";
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-image: url(../images/bg-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.header__logoimage {
  min-width: 150px;
  width: 35%;
  margin: 30px;
}

.header__image {
  display: block;
  margin: 25px auto;
  padding-bottom: 50px;
  width: 80%;
  min-width: 250px;
}

.hero {
  text-align: center;
  margin: 0 20px;
  max-width: 1200px;
}

.hero__title {
  font-family: var(--heading-font);
  color: var(--Soft-white);
  font-size: 1.5rem;
  font-weight: 600;
}

.hero__text {
  color: var(--Soft-white);
  font-size: 1rem;
  padding-top: 10px;
  font-weight: 400;
}

.hero__btn {
  border-radius: 2rem;
  background-color: var(--Soft-white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  color: var(--Violet);
  height: fit-content;
  margin: 30px auto;
  line-height: 3rem;
  width: 60%;
  max-width: 250px;
}

.hero__btn:active,
.hero__btn:hover {
  background-color: var(--Soft-Magenta);
  color: var(--Soft-white);
}

.socials {
  display: flex;
  width: 100%;
  gap: 12px;
  justify-content: center;
  margin: 40px 0px 40px;
}

.socials__container {
  margin: 3px;
  width: 5%;
  aspect-ratio: 1;
  border: 1px solid #ffffff;
  border-radius: 2rem;
  padding: 3px;
}

.socials__icons {
  max-width: 32px;
  width: 17px;
}

.socials__container:hover {
  --icon-fill: var(--Soft-Magenta);
  border-color: var(--Soft-Magenta);
}

@media (min-width: 767px) {
  body {
    display: flex;
    background-image: url(../images/bg-desktop.svg);
    max-height: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
  }

  .header {
    background-image: none;
    width: 50%;
  }

  .container {
    align-self: center;
    width: 30%;
  }

  .hero {
    margin-top: 100px;
    text-align: left;
    width: 100%;
  }

  .hero__title {
    font-size: 1.5rem;
  }

  .hero__text {
    font-size: 1rem;
  }

  .hero__btn {
    border-radius: 2rem;
    background-color: var(--Soft-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: block;
    color: var(--Violet);
    height: fit-content;
    margin: 30px 0;
    line-height: 3rem;
    width: 70%;
    max-width: 250px;
    text-align: center;
  }

  .socials {
    align-self: flex-end;
    width: 40%;
    margin-left: auto;
  }

  .socials__container {
    margin: 2px;
    width: 20%;
  }
}
